@import "~bootstrap/scss/bootstrap";

body {
  background-color: rgb(130, 130, 199);
}
#increaseSize {
	font-size: 2rem;
}
.darkMode {
  background-color: black;
  color: white;
}

.dropdown-menu {
  background-color: black;
  .buttons {
    color: white;
  }
}

.dropdown-menu .buttons:hover {
  background-color: green;
}
