@import "~bootstrap/scss/bootstrap";

body {
  padding: 0;
  margin: 0;
  background-color: black;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.1) 100%), url(../assets/baratheon-bg.jpg);
  // background: url(../assets/baratheon-bg.jpg);
  background-position: left;
  background-size: auto;
}

.darkMode {
  background-color: black;
  color: white;
}

.dropdown-menu {
  background-color: black;
  .buttons {
    color: white;
  }
}

.dropdown-menu .buttons:hover {
  background-color: goldenrod;
}

#navImg {
  width: 100%;
  height: auto;
}

.userButton {
  background-color: goldenrod;
}

.userButton:hover {
  background-color: black;
}

